<template>
  <div id="app">
    <SideBar isActive="" />
   
    <div>
      
  <div id="addModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">            
            <h5 class="modal-title " > Add Patron</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pl-5 pr-5">

            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input type="email" v-model="input.name" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Author</label>
                <input type="email" v-model="input.author" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Copies</label>
                <input type="email" v-model="input.copies" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Category</label>
                <select class="form-control" v-model="input.category" id="exampleFormControlInput1">
                  <option value="Fiction">Fiction</option>
                  <option value="Drama">Drama</option>
                  <option value="History">History</option>
                  </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="add-button-modal">
              <div class="text-center">
              <button type="button" class="btn btn-lg btn-primary" width="100%" data-dismiss="modal" v-on:click="addBook">Save changes</button>
            </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

  <div id="editModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">            
            <h5 class="modal-title " > Add Patron</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pl-5 pr-5">

            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input type="email" v-model="input.name" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Author</label>
                <input type="email" v-model="input.author" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Copies</label>
                <input type="email" v-model="input.copies" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Category</label>
                <select class="form-control" v-model="input.category" id="exampleFormControlInput1">
                  <option value="Fiction">Fiction</option>
                  <option value="Drama">Drama</option>
                  <option value="History">History</option>
                  </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="add-button-modal">
              <div class="text-center">
              <button type="button" class="btn btn-lg btn-primary" width="100%" data-dismiss="modal" v-on:click="bookUpdate">Save changes</button>
            </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

        <!-- Delete Modal -->
  <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ">Confirm Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you 100% sure?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" v-on:click="bookDelete"> Yes </button>
          </div>
        </div>
      </div>
    </div>

       <div class="display_container">
            <div class="container_render">
                <div class="page_title">
                    <h2>Book Management</h2>
                     
                </div>
                            <div class="btn-add">
                <a class="btn  btn-lg btn-add" data-toggle="modal" data-target="#addModal" ><i class="fas fa-fw fa-plus" >  </i>  Add Book</a>
            </div>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="table-heading">
                      <tr>
                      <th width="10%">Actions</th>
                        <th width="30%">Name</th>
                        <th width="20%">Author</th>
                        <th width="10%">Copies Available</th>
                        <th width="20%">Category</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                         <tr v-for="(book, i) in books" :key="i">
                        <td class="text-center">
                        <a type="button" data-toggle="modal" data-target="#editModal" v-on:click="showEditModal(book, i)"><img src="@/assets/img/edit-table.png" height="25px"></a>
                            <a type="button" data-toggle="modal"
                            data-target="#deleteModal" v-on:click="showDeleteModal(i)"><img src="@/assets/img/delete.png" height="25px"></a>
                            <img src="@/assets/img/borrow.jpg" height="25px">
                            <img src="@/assets/img/delete.png" height="25px">
                        </td>
                            <td>{{ book.name }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.copies }}</td>
                            <td>{{ book.category.category }}</td>
                      </tr>
                     
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
  </div>
  
</template>

<script>
import SideBar from "../../navigation/SideBar";
import { mapState, mapActions, mapGetters} from 'vuex';
import {toast} from '@/assets/js/toast/vue-toast'
export default {
  components: {SideBar},
    mixins: [toast],
    name: "App",
    
  data(){
    return {
      editBook: {},
      input: {
          name: "",
          author: "",
          copies: "",
          category_id: "",
      },
      deleteIndex: "",
      editIndex: "",
      validated: false,
    };
  },
  computed: {
    ...mapState("books", ["books", "categories"]),
    ...mapState("patrons", ["patrons"])
  },
  methods: {
    ...mapActions('books', ['getBooks', "deleteBook", "storeBook", "updateBook", "getCategories"]),
    ...mapActions("patrons", ["getPatrons"]),
    ...mapActions("borrowed", ["createBorrowed"]),
    ...mapActions("returned", ["createReturned"]),
    ...mapGetters("books", ["getBooksData"]),
    showError(data){
      for (const key of Object.keys(data.errors)) {
        this.showErrorToast(data.errors[key][0])
      }
    },
    showAddModal() {
      this.$bvModal.show("addModal");
    },
    showDeleteModal(i) {
      this.deleteIndex = i;
      this.$bvModal.show("deleteModal");
    },
    showEditModal(books, i) {
      this.editIndex = i;
      this.input = {...books}
      this.$bvModal.show("editModal");
    },
    deleteBook() {
      this.$delete(this.books, this.deleteIndex);
      this.$bvModal.hide("deleteModal");
      this.showErrorToast('Book Deleted successfully!')
    },
    async addBook(){
      this.validateFields(this.data)
      if(!this.validated)
        return;

        const res = await this.storeBook({...this.input})
      if(res.status == 200){
        this.$bvModal.hide(this.modalId);
        this.showSuccessToast('Book saved successfully!')
      }
      else{
        this.showError(res.data)
      }
    },
    async bookUpdate(){
      this.validateFields(this.data)
      if(!this.validated)
        return;

      const res = await this.updateBook({index: this.editIndex, data: this.input})
      if(res.status == 200){
        this.showSuccessToast('Book updated successfully!')
        this.$bvModal.hide('editModal')
      }
      else{
        this.showError(res.data)
      }
    },
    
    async bookDelete(){
      const res = await this.deleteBook(this.id);
      if(res.status !== 200)
       this.showError(res.data)
      this.$bvModal.hide('deleteModal');
      
    },
  },
  validateFields(books){
      let errors = []
      this.validated = false;

      if(books.name == '')
        errors.push('Name of book is required!')
      if(books.author == '')
        errors.push('Author is required!')
      if(books.copies == '')
        errors.push('Copies of book is required')
      if(books.copies < 0)
        errors.push('Copies of book should not be negative')
      if(books.category_id == '')
        errors.push('Category is required!')

      if(errors.length > 0){
        for(var e in errors){
          this.showErrorToast(errors[e])
        }
        return;
      }

      this.validated = true
  },
 
  mounted() {
      this.getCategories();
      this.getBooks();
  },
  };
</script>
