<template>
    <chartjs-bar v-bind:labels="labels" v-bind:datasets="datasets" v-bind:option="option"></chartjs-bar>
</template>

<script>
export default {
    data() {
        return {
            labels: ["January","February","March","April","May","June"],
            datasets: [
                {
                    label: ["Borrowed Book"],
                    data: [101,167,300,250,300,453],
                    backgroundColor: "blue"
                }
            ],
            option: {
                title: {
                    display: false,
                    position: "top",
                    text: "Borrowed and Returned Books"                
                },
                legend: {
                    display: true,
                },
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero: true,
                            }
                        }
                    ]
                }
            }
        };
    }
};

</script>