<template>
  <div id="app">
    <SideBar isActive="index"/>

    <div class="display_container">
            <div class="container_render">
                <div class="page_title">
                    <h2>Dashboard</h2>
                </div>
               
                <div class="table_container_for_dashboard">
                <div class="row">
                    <div class="col-md-6">
                        <div class="chart_container">
                            <Bar/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="chart_container">
                            <Doughnut/>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
       
  
  </div>
 
</template>

<script>
import SideBar from "../../navigation/SideBar";
import Doughnut from "../../pages/index/doughnut";
import Bar from "../../pages/index/bar";
export default {
    name: 'Dashboard',
    components: {
        SideBar,
        Doughnut,
        Bar
    }
}
 //
</script>
