<template>

  <div  id="app">
    <div class="sidebar_container">
        <li class="nav-item">
            <div class="text-center">
                <img src="../../assets/img/LS.png" height="120px;">
            </div>
        </li>
        <div class="container profile">
            <div class="row">
                <div class="col-lg-3"></div>
                <img src="../../assets/img/online.png" class="profile-online"><h4 class="profile-name">Librarian</h4>
            </div>
            <div class="text-center">
                <p class="profile-title">Online</p>
            </div>
        <hr class="sidebar-divider" style="background-color:grey">
        </div>
        <router-link to="/Dashboard">
        <a href="#"  :class="isActive == 'Dashboard' ? 'isactive_display': ''"><i class="fas fa-fw fa-tachometer-alt"></i><span>Dashboard</span></a>
        </router-link>
        <router-link to="/Patron">
        <a href="PatronManagement.html"  :class="isActive == 'Patron' ? 'isactive_display': ''"><i class="fas fa-fw fa-user-alt"></i><span>Patron Management</span></a>
        </router-link>
        <router-link to="/Book">
        <a href="BookManagement.html"  :class="isActive == 'Book' ? 'isactive_display': ''"><i class="fas fa-fw fa-book"></i><span>Book Management</span></a>
        </router-link>
        <router-link to="/Settings">
        <a href="Settings.html"  :class="isActive == 'Settings' ? 'isactive_display': ''"><i class="fas fa-fw fa-cog"></i><span>Settings</span></a>
         </router-link>
                  
        <br>
        <li class="nav-item">
          <a class="nav-link" href="Logout.html">
            <span>Logout</span></a>
        </li>
    </div>
      </div>
  
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>
<style scoped>
.header a{
    color: red;
    font-size: 28px;
    text-shadow: yellow;
}

.sidebar h2{
    color:black;
    font-size: 16px;
    margin:20px;
   
}

</style>