<template>
  <div id="app">
    <SideBar isActive="settings"/>
    <NavBar />
   <div class="display_area">
                <h4>SETTINGS</h4>
                <hr>
                <div class="table_container">

                </div>
            </div>
        <!--end of Settings display component-->
  </div>
</template>
<script>
import SideBar from "../../navigation/SideBar";


export default {
  mounted(){
    document.title = "Settings"
  },
  components: { SideBar },
  methods: {},
};
</script>
