<template>
  <div id="app">
    <SideBar isActive="patron"/>
    
  <div id="addModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">            
            <h5 class="modal-title "> Add Patron</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pl-5 pr-5">

            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input type="email" v-model="input.first_name" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Middle Name</label>
                <input type="email" v-model="input.middle_name" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Last Name</label>
                <input type="email" v-model="input.last_name" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" v-model="input.email" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="add-button-modal">
              <div class="text-center">
              <button type="button" class="btn btn-lg " width="100%" data-dismiss="modal" v-on:click="AddPatron">Save changes</button>
            </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div id="editModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">            
            <h5 class="modal-title "> Add Patron</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pl-5 pr-5">

            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input type="email" v-model="input.first_name" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Middle Name</label>
                <input type="email" v-model="input.middle_name" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Last Name</label>
                <input type="email" v-model="input.last_name" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" v-model="input.email" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="add-button-modal">
              <div class="text-center">
              <button type="button" class="btn btn-lg " width="100%" data-dismiss="modal" v-on:click="patronUpdate">Save changes</button>
            </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  
        <!-- Delete Modal -->
  <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you 100% sure?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" v-on:click="patronDelete"> Yes </button>
          </div>
        </div>
      </div>
    </div>
          <div class="display_container">
            <div class="container_render">
                <div class="page_title">
                    <h2>Patron Management</h2>
                </div>
                <div class="btn-add">
                <a class="btn  btn-lg btn-add" data-toggle="modal" data-target="#addModal"><i class="fas fa-fw fa-plus">  </i>  Add Patron</a>
            </div>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="table-heading">
                      <tr>
                      <th width="10%">Actions</th>
                        <th width="40%">Name</th>
                        <th width="30%">Email Address</th>
                        <th width="20%">Date Registered</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr  v-for="(patron, i) in patrons" :key="i">
                      <td class="text-center">
                         <a type="button" data-toggle="modal" data-target="#editModal" @click="showEditModal(patron, i)"><img src="@/assets/img/edit-table.png" height="25px"></a>
                          <a type="button" data-toggle="modal"
                           data-target="#deleteModal" @click="showDeleteModal(patron.id)"><img src="@/assets/img/delete.png" height="25px"></a>
                        </td>
                        <td>{{patron.first_name + " " + patron.middle_name + " " + patron.last_name}}</td>
                        <td>{{ patron.email }}</td>
                        <td>{{ patron.created_at }}</td>
                        
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
 
</template>

<script>
import SideBar from "../../navigation/SideBar";

import { mapState, mapActions, mapGetters } from "vuex";
import { toast } from "@/assets/js/toast/vue-toast";
export default {
  components: {SideBar},
  mixins: [toast],
  data() {
    return {
      index: "",
      validated: false,
      input: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      },
    };
  },

  methods: {
    ...mapActions("patrons", [
      "getPatrons",
      "storePatron",
      "deletePatron",
      "updatePatron",
    ]),
    ...mapGetters("patrons", ["getPatronData"]),
    showEditModal(patron, index) {
      this.input = { ...patron };
      this.index = index;
      
    },
    validEmail(){
      let regEx = /^([a-z0-9_\-.])+@([a-z0-9_\-.])+\.([a-z0-9]{2,})$/gi
      let isEmail = regEx.test(this.input.email)
      return isEmail
    },
    showDeleteModal(i) {
      this.index = i;
      this.$bvModal.show("deleteModal");
    },
    async AddPatron() {
      this.validateFields(this.input)
      if(!this.validated)
        return
      const res = await this.storePatron(this.input);
      if (res.status == 200) {
        this.$bvModal.hide("addModal");
        this.showSuccessToast("Patron saved successfully!");
      } else {
        this.showError(res.data);
      }
    },
    async patronDelete() {
      const res = await this.deletePatron(this.index);
      if (res.status == 200) {
        this.$bvModal.hide("deleteModal");
        this.showErrorToast("Patron saved successfully!");
      } else {
        this.showError(res.data);
      }
    },
    async patronUpdate() {
      this.validateFields(this.input)
      if(!this.validated)
        return
      const res = await this.updatePatron({
        data: this.input,
        index: this.index,
      });
      if (res.status == 200) {
        this.$bvModal.hide("editModal");
        this.showSuccessToast("Patron Deleted successfully!");
      } else {
        this.showError(res.data);
      }
    },
    clearFields() {
      this.input.first_name = "";
      this.input.middle_name = "";
      this.input.last_name = "";
      this.input.email = "";
    },
    showError(data) {
      for (const key of Object.keys(data.errors)) {
        this.showErrorToast(data.errors[key][0]);
      }
    },
    validateFields(input){
      let errors = []
      
      this.validated = false;


      if (input.first_name == "")
        errors.push("First Name is required!");
      if (input.last_name == "")
        errors.push("Last Name is required!");
      if (input.email == ""){
        errors.push("Email is required!");
      }
      if(!this.validEmail())
        errors.push("Email is not valid");

      if(errors.length > 0){
        for(var e in errors){
          this.showErrorToast(errors[e])
        }
        return;
      }

      this.validated = true
    }
  },

  
  computed: {
    ...mapState("patrons", ["patrons"]),
  },
  mounted() {
    this.getPatrons();
  },
};
</script>
