.sidebar_container{
    position: fixed;
    left: 0;
    height: 100%;
    width: 18%;
    background-color: #141414;
}

.sidebar_container a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 60px;
    font-weight: 500;
    transition: 0.5s;
}

.sidebar_container a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: yellow;
    color: black;
}

.sidebar_container i{
    margin-left: 2%;
    margin-right: 10px;
}

.isactive_display {
    position: relative;
    background: yellow;
}

.display_container{
    height: 100%;
    margin-left: 18%;
    padding-top: 1%;
    padding-left: 1%;
}

.container_render{
    background-color: yellow;
    width: 99%;
    height: 700px;
}

.page_title{
    color: white;
    background-color: black;
    padding-left: 2%;
    padding: 2%;
}

.chart_container{
    width: 50px;
    background-color: white;
    width: 37%;
    position: fixed;
    margin-top: 5%;
    margin-left: 1%;
}

.bar_container{
    width: 200px;
}

.doughnut_container{
    margin-top: -28.2%;
    margin-left: 50%;
}

tbody tr{
    background-color: white;
}